@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        <p>Your Order Number is : @Model.ToString() </p>
        <img src="https://th.bing.com/th/id/R.f166c8aef87a525724706b1fefe9b625?rik=4LOAa9eYGA2MFg&riu=http%3a%2f%2fcliparts.co%2fcliparts%2f8c6%2f8RG%2f8c68RGyei.png&ehk=Df5sZ5ID2Jgaj%2fLLLEMVTW5utouaoLUpKwV7JLrx8l4%3d&risl=&pid=ImgRaw&r=0" width="65%" />
    </div>
</div>